﻿@import "angular-material.min.css";
@import "font-awesome.css";


* {
    outline: none;
}

input[type="button"]:focus, input[type="email"]:focus, input[type="text"]:focus, select:focus, .select:focus, radio:focus, textarea:focus, input[type="password"]:focus, .customfocus:focus {
    outline: rgb(28, 164, 222) solid 1px;
}

body {
    padding-top: 63px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-size: 100%;
    font-size: 13px;
    font-family: RobotoLight,'Open Sans','OpensanaRegular' Arial, sans-serif;
    background: #fff;
    color: #777;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    color: #000000;
    line-height: 140%;
    -webkit-font-smoothing: antialiased;
}

/*Common*/
.prescrip-logotext {
    color: #1ca4dd;
    margin: 0;
}

.home_logolink, .home_logolink:hover {
    color: #1ca4dd;
    text-decoration: none;
    outline: none;
}

.complusary {
    color: red;
    font-size: 14px;
    font-family: 'RobotoLight';
}


.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

/*!
 * Start Bootstrap - Full HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body, html {
    /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    min-width: 960px;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */




.results {
    position: absolute;
    background: red;
}

.closebtn:hover {
    text-decoration: none;
    color: #fff;
}

.control-label {
    width: 60px;
}

.typeahead_wrapper-otp {
    display: block;
    height: 30px;
}

.typeahead_photo {
    float: left;
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
}

.typeahead_labels {
    float: left;
    height: 30px;
}

.typeahead_primary {
    font-weight: bold;
}

.typeahead_secondary {
    font-size: .8em;
    margin-top: -5px;
}


.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 600px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.pophover-customcss {
    width: 420px;
}


.patientregistrationform .form-group {
    margin-bottom: 8px;
}

.patientAddbtn .popover-content {
    padding: 0px 10px;
}

.Accountform {
    color: #fff;
}

.nav.headernav > li > a {
    padding: 7px 15px;
}

.mastersearchform .dropdown-menu {
    width: 100%;
}

.headernav-Account li {
    display: inline-block;
}


.mastersearchform .dropdown-menu strong, .mastersearchform .dropdown-menu b {
    color: #1CA4DD;
}

.fixed-bottom {
    position: fixed;
    bottom: 25px;
    right: 0px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0px;
}

.classmenuitems li {
    height: 122px;
    border-radius: 0px;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    background: #2F333E;
    color: #fff;
    background: #2F333E;
    border: 0px;
    border-bottom: 1px solid #585858;
    border-top: 1px solid #585858;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}
/* Fade-Out Effect */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.mainpatientviewcontainer {
    width: 940px;
}

@media screen and (min-width: 1440px) {

    .mainpatientviewcontainer {
        width: 1420px;
    }
}

@media screen and (min-width: 1600px) {
    .extralarge {
        width: 33.33%;
    }

    .container {
        width: 1400px;
    }
}

/* Minimum */
@media screen and (min-width: 1600px) {
    .extralarge {
        width: 33.33%;
    }

    .container {
        width: 1400px;
    }
}

@media screen and (min-width: 1800px) {


    .container {
        width: 1700px;
    }

    .mainpatientviewcontainer {
        width: 1450px;
    }
}

@media screen and (min-width: 1920px) {
    .popover.bottom > .arrow {
        top: -10px;
    }

    .mainpatientviewcontainer {
        width: 1880px;
    }
}

@media screen and (max-width:960px) {
    body {
    }

    .containerx {
        width: 960px;
        margin: 0 auto;
    }

    .header-logo-bar {
        width: 120px;
    }

        .header-logo-bar img {
            width: 80px;
            height: 80px;
        }
}

html {
    min-width: 960px;
}



.errrotext {
    color: red;
    font-size: 14px;
    color: #F90606;
    color: red;
    font-size: 14px;
    color: #cc4a4a;
    font-size: 12px;
    /* text-transform: capitalize; */
    /* font-family: RobotoRegular; */
    font-size: 0.9em;
    display: none;
}



/*Login Page  start*/

.loginpanelcontainer {
    width: 925px;
    margin: 0px auto;
    padding: 0px;
}

.logincontainer .form-group {
    height: 65px;
    margin-bottom: 05px;
}

    .logincontainer .form-group.remeberarea {
        height: 30px;
    }

.loginpanel {
    margin: 0px auto;
}

    .loginpanel .loginpanel-innerdiv {
        text-align: center;
    }

    .loginpanel .login-prescribtext {
        color: #1ca4dd;
        font-weight: normal;
        font-size: 46px;
    }

    .loginpanel .login-welcometext {
        color: #000000;
        font-weight: normal;
        margin-top: 30px;
        font-size: 45px;
    }

.loginpanelbox {
    margin-top: 80px;
}

.loginpaelboxinner {
    width: 545px;
    margin: 0 auto;
}

.logincontainer {
    padding-bottom: 15px;
    width: 440px;
    margin: 0 auto;
}

.fgtpwd-text {
    font-size: 13px;
    margin-top: 15px;
}

.login-createpanel {
    width: 375px;
    float: left;
    border-left: 1px solid #d4d4d4;
}

.login-text {
    /*
font-size:30px;
font-weight:normal;
font-family: 'RobotoThin';
margin:1px 0px 20px 0px;
*/
    font-size: 24.5px;
    font-weight: 100;
    font-family: RobotoLight;
    margin: 1px 0px 20px 0px;
    color: #000000;
    ;
}

.login-createpanel-inner {
    margin-left: 66px;
    font-size: 13px;
    word-spacing: 3px;
    text-align: left;
    line-height: 18px;
}



/*Login Page  end*/


/* Sign up start*/

.navbar-inverse {
    height: 85px;
}


.groupupload label {
    font-size: 12px;
    color: #fff;
    font-family: 'RobotoLight';
}

.groupupload {
    border: 1px solid rgba(158, 158, 158, 0.27);
    width: 130px;
    height: 130px;
    min-width: 100px;
    margin: 5px;
    margin: 0px auto;
    text-align: center;
}

.BGimgdataattr {
    height: 105px;
    width: 99%;
    margin: 0px auto;
}

.dropbox {
    transition: background-color 0.5s ease;
    width: 143px;
    height: 143px;
    background-image: url('../images/Profile-bg-145.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

    .dropbox.not-available {
        background-color: #F88;
    }

    .dropbox.over {
        background-image: none;
        background: #1CA4DD !important;
        border: 4px dotted rgba(255, 253, 253, 0.27);
    }

.signupbox {
    margin-top: 10px;
}

.signupboxinner {
    width: 450px;
    margin: 0px auto;
}

.signupboxinner-thirdform {
    width: 610px;
    margin: 0px auto;
}

.signupbox #Registrationform2 label {
    font-weight: 600 !important;
    color: #424242 !important;
}
/*Sign up end*/



/*Home Page css start*/

.navbar-inverse {
    height: 85px;
}

.navbar-topspaace {
    padding-top: 16px;
}

.navtopsearch .dropdown-menu {
    width: 95%;
}

.searchicontextbox {
    background-image: url('../images/search-2.png');
    background-position: right;
    background-repeat: no-repeat;
    font-family: RobotoLight;
    font-size: 13px;
    height: 47px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #F66D2F;
    margin-bottom: 6px;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover {
    background: #fff;
    border: 0px;
}

.nav-logo-text {
    color: #249AE0;
    font-weight: normal;
    margin: 0;
}

.bottom-nav {
    width: 172px;
    height: 62px;
    float: left;
    padding-top: 12px;
}

.bottom-left-border {
    border-right: 1px solid #8E8E93;
}

.bottom-nav-labelbox {
    margin: 0px auto;
    width: 90px;
}

.nav-bottomarea {
    width: 862px;
    background:;
    margin: 0px auto;
}

    .nav-bottomarea .nav-noborder {
        border: 0px;
    }

.topshadow {
    border-top: 1px solid #EAEAEA;
    box-shadow: 2px 2px 5px #EAEAEA;
}

.bottomhadow {
    border: 0px;
    border-bottom: 1px solid #EAEAEA;
    box-shadow: 0px 2px 0px #EAEAEA;
}


.patientphover:hover, .patientphover:focus, .patientphover:active {
    box-shadow: 2px 2px red;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.patientdatashow {
    width: 960px;
    margin: 0px auto;
}

@media only screen and (min-width:1400px) {

    .patientdatashow {
        width: 1400px;
        margin: 0px auto;
    }
}

@media only screen and (min-width:1900px) {

    .patientdatashow {
        width: 1800px;
        margin: 0px auto;
    }
}

/*Home page css end*/



/*patent- Registration start*/

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-left: 27px;
    font-size: 14px;
}

.radio-inline span {
    font-size: 13px;
}

.controls {
    clear: both;
}


.top-nav-show {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    font-family: 'ralewaythin';
    font-size: 26px;
    font-weight: normal;
    padding-top: 2px;
    text-align: center;
    margin: 0px auto;
    border: 1px solid red;
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
}

.topquicknav .active {
    border: 2px solid #f15f0f;
    color: #f15f0f;
}

.topquicknav .deactive {
    border: 1px solid #DFDFDF;
    color: #DFDFDF;
}

/*Patient Registration end*/

/*patient view*/

/* when hiding the picture */
.ng-hide-add {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

/* when showing the picture */
.ng-hide-remove {
    opacity: 0;
}

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */


/*patient view end*/


.cbp-spmenu-vertical {
    webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 247px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu {
    background: #1ca4dd;
    position: fixed;
    z-index: 555555555595898898989897789;
}

.cbp-spmenu-right {
    right: -1590px;
}

.cbp-spmenu-open {
    right: 0px;
}

.cbp-spmenu-close {
}



li.drawer-right {
    background: none;
    border: 0px;
    border-bottom: 1px solid #49b6e4;
    height: 100px;
    color: #f6f9fa;
    padding: 30px 0px 30px 5px;
}

    li.drawer-right a, li.drawer-right a:hover, li.drawer-right a:focus {
        text-decoration: none;
    }

.cbp-image {
    width: 80px;
    height: 60px;
    background-position: top;
    background-repeat: no-repeat;
}

.cme-Icon-Prescribe {
    background-image: url('../images/Icon-Prescribe.png');
}

.cme-Icon-my-prescripe {
    background-image: url('../images/Icon-my-prescripe.png');
}

.cme-icon-CME {
    background-image: url('../images/icon-CME.png');
}

.cbp-menutxt {
    font-size: 22px;
    margin-bottom: 07px;
    font-family: HelveticaNeuelght;
    text-align: left;
    color: #f6f9fa;
}

.cbp-icon-logout {
    background-image: url('../images/icon-logout.png');
}

.logouttxt {
    margin-top: 09px;
}

.cbp-left {
    margin-left: 5px;
}

.cbp-spmenu-hinttxt {
    font-size: 14px;
    font-family: RobotoThin;
    color: #9ddef9;
}

.cbp-closebtn {
    margin: 34px 33px 5px 0px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    float: right;
    outline: none;
    background-image: url('../images/icon-close.png');
    background-repeat: no-repeat;
}
/*icons*/

.upload-icon, .webcambutton {
    width: 135px;
    height: 35px;
    text-align: center;
    font-size: 13px;
    font-family: RobotoRegular;
    padding: 0px;
    text-shadow: none;
}


.upload-icon {
    background-image: url('../images/upload.png');
    background-position: 20px center;
    background-repeat: no-repeat;
}

    .upload-icon:hover, .upload-icon:focus {
        background-image: url('../images/icon-attachment-click.png');
    }



.checkcheckbox {
    width: 21px;
    height: 21px;
}

.checkcheckbox-checked {
    background-image: url('../images/Chkbox-clk.png');
}

.checkcheckbox-unchecked {
    background-image: url('../images/Chkbox-dft.png');
}


/*LIghtbox Start*/

.popover-content {
    padding: 0px;
}

    .popover-content input {
        height: 30px;
    }


.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    padding: 0 20px;
}

    .lightbox .content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        z-index: 2;
        width: 530px;
        margin: 55px auto;
        background: #fff;
        -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        transform: translateY(-200%);
        -webkit-transition: 0.4s -webkit-transform ease-in-out;
        transition: 0.4s transform ease-in-out;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 30px 50px 30px 50px;
    }

    .lightbox .main {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 430px;
    }

    .lightbox .backdrop {
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 100%;
        left: 0;
        opacity: 0;
        background: rgba(0, 0, 0, 0.3);
        -webkit-transition: 0.3s opacity ease-in-out;
        transition: 0.3s opacity ease-in-out;
    }

.lightboxshow .content {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.lightboxshowclose {
    opacity: 0;
}



.lightboxshow .backdrop {
    bottom: 0;
    opacity: 1;
    z-index: 1;
    height: 100%;
}

.lightboxshow label {
    font-size: 13px;
    color: #424242;
}

.lightboxshow .form-control {
    height: 35px;
}

.lightboxshow .form-group {
    height: 56px;
    margin-bottom: 0px;
}

.closebtnlightbox {
    height: 31px;
    width: 33px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 07px;
    background-image: url('../images/close-btn.png');
}

    .closebtnlightbox:hover {
        background-image: url('../images/closebutton-hover.png');
    }
/*Lightbox End*/

.md-dialog-content h2 {
    font-family: Roboto,'Helvetica Neue',sans-serif;
}


.btnsmall {
    height: 35px;
    font-size: 14px;
    font-family: RobotoRegular;
    padding: 07px;
}

.calender-icon {
    background-image: url('../images/icon-calendor-2.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.Alram-icon {
    background-image: url('../images/Alram-icon.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.mail-icon {
    background-image: url('../images/mail-icon.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.mobile-icon {
    background-image: url('../images/mobile-icon.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.add-favourite-icon {
    background-image: url('../images/add-favourite.png') !important;
    background-repeat: no-repeat;
    background-position: 15px center;
}

    .add-favourite-icon:hover, .add-favourite-icon:focus {
        background-image: url('../images/add-favourite-click.png') !important;
    }


.icon-print-icon {
    background-image: url('../images/icon-print.png') !important;
    ;
    background-repeat: no-repeat;
    background-position: 15px center;
}

    .icon-print-icon:hover, .icon-print-icon:focus {
        background-image: url('../images/icon-print-click.png') !important;
    }



.Select-pharmacy-icon {
    background-image: url('../images/Select-pharmacy.png') !important;
    ;
    background-repeat: no-repeat;
    background-position: 15px center;
}

    .Select-pharmacy-icon:hover, .Select-pharmacy-icon:focus {
        background-image: url('../images/Select-pharmacy-click.png') !important;
    }

.icon-save-icon {
    background-image: url('../images/icon-save.png') !important;
    ;
    background-repeat: no-repeat;
    background-position: 15px center;
}


    .icon-save-icon:hover, .icon-save-icon:focus {
        background-image: url('../images/icon-save-click.png') !important;
    }



/*  Dialog box*/


.popover {
    max-width: 960px;
}

    .popover .arrow {
        left: 32px !important;
    }

.uploadednotesimagesshow {
    border: 1px solid #dfdfdf;
    width: 70px;
    height: 70px;
    margin: 0px 10px;
}


    .uploadednotesimagesshow .imagesection {
        position: relative;
        height: 68px;
        width: 68px;
        background-size: 90%;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .uploadednotesimagesshow .deleteimages {
        background-color: #fff;
        position: absolute;
        top: -12px;
        right: -12px;
        cursor: pointer;
    }

.hidden {
    display: none;
}

.show {
    display: block;
}


.popover-area {
    position: absolute;
    z-index: 5555555;
}

.popover-body {
    background: #FBFBFB;
    padding: 0px;
}

.popover-body-heading {
    font-size: 13px;
    margin: 2px 10px;
    font-weight: 600;
}

.popover-body-data {
    height: 29px;
    background: #FBFBFB;
    padding: 4px 20px;
    border-top: 1px solid #EADCDC;
}

    .popover-body-data:focus, .popover-body-data:active, .popover-body-data:hover {
        background: rgb(240, 240, 240) !important;
    }

.popover-body-data-remove {
    text-align: right;
    color: red;
}
/* Dialog box*/




.btnsmall {
    height: 35px;
    font-size: 14px;
    font-family: RobotoRegular;
    padding: 07px;
}

.manage-txtsearch {
    height: 35px;
}

.tab-section {
    border: 1px solid #E1E1E1;
    margin-top: 20px;
}

.manage-tab-header {
    background: #ededed;
    height: 40px;
}

.manage-addressdetails {
    padding: 20px 15px 20px 15px;
    font-size: 12px;
    font-family: RobotoLight;
    color: #9e9e9e;
    width: 100%;
    transition: height 0.35s ease;
}

    .manage-addressdetails span {
        font-weight: 600 !important;
    }

.nav-manage-txt {
    width: 40px;
    border-right: 1px solid #969696;
    margin-right: 15px;
}

.mange-tabhedsection {
    width: 115px;
    color: #1C1C1C;
    cursor: pointer;
    font-size: 14px;
    width: 750px;
    height: 40px;
    /* background: rebeccapurple; */
    padding: 12px;
    outline: none;
}

.pad12 {
    padding: 12px 12px 0px 12px;
}

.uploadednotesimagesshow {
    border: 1px solid #dfdfdf;
    width: 70px;
    height: 70px;
    margin: 0px 10px;
}


    .uploadednotesimagesshow .imagesection {
        position: relative;
        height: 68px;
        width: 68px;
        background-size: 90%;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .uploadednotesimagesshow .deleteimages {
        background-color: #fff;
        position: absolute;
        top: -12px;
        right: -12px;
        cursor: pointer;
    }



/*CAM STYLE*/

.ng-camera-stack {
    position: relative;
}

.ng-camera-overlay {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
}


.ng-camera-preview {
    float: right;
    border: 1px solid red;
}


.fake-form-control {
    display: block;
    width: 100%;
    height: px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #423C3C;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dfdfdf;
    border-radius: 1.5px;
    -webkit-appearance: none;
    font-family: RobotoLight;
    color: #424242;
    -webkit-appearance: none;
}

.home_logolink:focus {
    outline: none;
}

.popover-el-hover {
    background: rgb(240, 240, 240) !important;
}


/*Ng-repat Animation*/

.animation {
    -webkit-transition: 0.352s;
}

    .animation.ng-enter {
        opacity: 0;
        border: 1px solid #1CA4DE;
    }

    .animation.ng-leave {
        opacity: 1;
    }

    .animation.ng-enter.ng-enter-active {
        opacity: 1;
    }

    .animation.ng-leave.ng-leave-active {
        opacity: 0;
    }





/*Lightbox prescription*/

.pres-threedot {
    background-image: url('../images/Patient-Menuclick.png');
    height: 30px;
    width: 17px;
    border: 0px;
    background-color: #fff;
    background-repeat: no-repeat;
}

.pres-deleteicon {
    background-image: url('../images/icon-delete.png');
    height: 30px;
    width: 26px;
    background-repeat: no-repeat;
}



.prescription-patient-header-view11 input.form-control {
    height: 25px;
    padding: 0px 02px;
}



.payment-border {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.payment-amount {
    color: #aeaebd;
    font-size: 16px;
    line-height: 30px;
}

.payment-label {
    color: #aeaebd;
    font-size: 14px;
    line-height: 30px;
}

.payment-amount-final {
    color: #1ca4de;
    font-size: 22px;
    line-height: 30px;
}

.label-payment {
    font-size: 12px;
    color: #635D5D;
    line-height: 18px;
    text-transform: uppercase;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.checkcheckbox-checked-blue {
    background-image: url('../images/CheckboxChecked.png');
    background-repeat: no-repeat;
}

.width-100 {
    width: 100%;
}


.outline-none {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    outline: none !important;
}



.success {
    color: green;
}



.backIcon-blue {
    background-image: url('../images/backIcon.jpg');
    background-repeat: no-repeat;
    padding: 0px 05px 0px 0px;
    width: 25px;
    height: 30px;
}


.Select-pharmacy-icon-blue {
    background-image: url('../images/Select-pharmacy.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reports_Management {
    z-index: 55555555555555555555555;
}

/* NEW CSS  */
.digit-group {
    text-align: center;
}

    .digit-group input {
        width: 35px;
        height: 50px;
        outline: none;
        background-color: #1D1E22;
        border: none;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
        font-family: RobotoMedium;
        font-weight: 200;
        color: white;
        margin: 0 2px;
    }

    .digit-group .splitter {
        padding: 0 5px;
        color: white;
        font-size: 24px;
    }


.prompt {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    font-family: RobotoLight;
    color: #000;
    -webkit-user-select: none;
}

#wrapper-otp {
    font-family: Lato;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    color: #333;
    display: none;
}

    #wrapper-otp #dialog {
        border: solid 1px #ccc;
        margin: 10px auto;
        padding: 20px 30px;
        display: inline-block;
        box-shadow: 0 0 4px #ccc;
        background-color: #FAF8F8;
        overflow: hidden;
        position: relative;
        max-width: 450px;
    }

        #wrapper-otp #dialog h3 {
            margin: 0 0 10px;
            padding: 0;
            line-height: 1.25;
        }

        #wrapper-otp #dialog span {
            font-size: 90%;
        }

        #wrapper-otp #dialog #form {
            max-width: 240px;
            margin: 25px auto 0;
        }

            #wrapper-otp #dialog #form input {
                margin: 0 5px;
                text-align: center;
                line-height: 60px;
                font-size: 50px;
                border: solid 1px #ccc;
                box-shadow: 0 0 5px #ccc inset;
                outline: none;
                width: 15%;
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                border-radius: 3px;
            }

                #wrapper-otp #dialog #form input:focus {
                    border-color: #0069d9;
                    box-shadow: 0 0 5px #0069d9 inset;
                }

                #wrapper-otp #dialog #form input::-moz-selection {
                    background: transparent;
                }

                #wrapper-otp #dialog #form input::selection {
                    background: transparent;
                }

            #wrapper-otp #dialog #form button {
                margin: 30px 0 50px;
                width: 100%;
                padding: 6px;
                background-color: #B85FC6;
                border: none;
                text-transform: uppercase;
            }

        #wrapper-otp #dialog button.close {
            border: solid 2px;
            border-radius: 30px;
            line-height: 19px;
            font-size: 120%;
            width: 22px;
            position: absolute;
            right: 5px;
            top: 5px;
        }

        #wrapper-otp #dialog div {
            position: relative;
            z-index: 1;
        }

        #wrapper-otp #dialog img {
            position: absolute;
            bottom: -70px;
            right: -63px;
        }

.form-control-mobilelg {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
}

.change-num {
    color: #007bff;
    font-size: 16px;
    font-family: RobotoLight;
    margin: 0;
    -webkit-user-select: none;
}

.prescrip-logotext img {
    vertical-align: middle;
    width: 40px;
    display: inherit;
}

.patient-name {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #424242;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.no-imgalpa {
    height: 160px;
    text-align: center;
    line-height:160px;
    background-size:cover !important;
    font-family: RobotoLight;
    font-size:60px;
    color:#424242;
    border-radius: 50%;
}
