﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Devanagari New Normal";src:url("DEVANEW.eot?") format("eot"),url("DEVANEW.woff") format("woff"),url("DEVANEW.ttf") format("truetype"),url("DEVANEW.svg#DevanagariNormal") format("svg");font-weight:normal;font-style:normal;}
