﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>

    <base href="/">
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#2797c7">
    <meta name="google-site-verification" content="qEdrkpRw7nQVgwQks5S8X6nUv-lsW6dy-d0ke9SGOqs" />

    <title ng-bind="title">Prescription app, e-prescribing, doctors prescription software, prescription app for doctors</title>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/jquery-ui.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <link href="../css/master.css" rel="stylesheet" />

    <link href="../css/font-awesome.css" rel="stylesheet" />


</head>
<body popover-close exclude-class="exclude">












    <div class="clearfix"></div>
    <div class="">


        <!-- Portfolio Item Heading -->
        <div class="loginpanel" style="">
            <div class="loginpanel-innerdiv">
                <h1 class="login-prescribtext">
                    <img style="width:100px; margin-top:10px;" src="images/pcd_logo.png" />



                </h1>

                <h1 class="login-welcometext">
                    Welcome!
                </h1>
            </div>
        </div>
        <!-- /.row -->


        <div class="loginpanelbox loginpanelcontainer">
            <div class="loginpaelboxinner">

                <div class="logincontainer">

                    <form id="textform" name="form" autocomplete="off" novalidate role="form">
                        <p class="login-text"> Login</p>
                        <div class="form-group">
                            <input type="text" autocomplete="off" onkeypress="return isNumberKey(event);" maxlength="10" id="mobile" pattern="[0-9]{10}" class="form-control-mobilelg" ng-model="username" placeholder="Mobile" required />
                            <span class="errrotext required-mob">Please fill in mobile number  </span>
                            <span class="errrotext invalid">Already exist  </span>
                        </div>

                        <div class="clearfix"></div>
                        <div class="remeberarea" style="height:30px">

                            <div class="pull-right" style="width:102px;display: inline-block;">

                                <div class="checkbox checkbox-primary" style="margin-top:-5px;margin-bottom:20px">
                                    <input id="acceptchk" class="styled" type="checkbox" required>

                                    <label for="acceptchk" style="color: #aeaeae;font-size: 12px;-webkit-user-select :none; ">
                                        Stay logged in

                                    </label>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-actions">
                            <button type="button" id="getotp" class="btn col-lg-12 col-md-12 col-xs-12 col-sm-12 btn-primary ">Login</button>
                            <div class="clearfix"></div>
                        </div>




                    </form>
                    <div id="wrapper-otp" data-autosubmit="false">
                        <div id="dialog" data-autosubmit="false">

                            <h3 class="prompt">Please enter the 4-digit verification code we sent via SMS</h3>

                            <div id="form">
                                <input type="text" maxlength="1" id="digit-1" name="digit-1" data-next="digit-2" pattern="[0-9]{1}" />
                                <input disabled type="text" maxlength="1" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" pattern="[0-9]{1}" />
                                <input disabled type="text" maxlength="1" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" pattern="[0-9]{1}" />

                                <input disabled type="text" maxlength="1" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" pattern="[0-9]{1}" />

                                <!--<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />-->

                            </div>
                        </div>
                        

                    </div>

                </div>

            </div>
            <div class="login-createpanel" style="height:270px; display:none">
                <div class="login-createpanel-inner">

                    <p class="login-text"> New to prescrip?</p>
                    <p style="width: 305px;
                       font-size: 15px;
                       line-height: 25px;
                       font-family: RobotoLight;
                       font-weight :500;
                       text-shadow: none;
                       color: #5c5c5c;">

                        Prescrip is designed around your practice, enabling you to print prescriptions in seconds and maintain patient records with absolute ease.



                    </p>

                    <button type="submit" class="btn col-lg-8 col-md-8 col-xs-8 col-sm-8 btn-default " style="margin-top:35px" ng-click="signupbtnclick()">

                        Create an Account
                    </button>

                </div>


            </div>

            <div class="clearfix"></div>

        </div>

    </div>

    <style>
        .btn {
            height: 45px;
            font-size: 16px;
        }
    </style>

</body>
</html>
